* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: 0;
}

ul {
  list-style: none;
}

body,
input {
  font-family: 'Roboto', sans-serif;
  max-width: 320px;
  margin: auto;
  /* background-color: #181818; */
}

a {
  text-decoration: none;
}

body {
  background-color: #181818eb;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.brain-sm {
  width: 48px;
}

.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffc700;
  margin-left: 10px;
}

.header-text_sm {
  font-size: 10px;
}
